<h2>
  <%= flash[:notice] %>
</h2>

<% unless @spaces.nil? %>
  <h1>Spaces:</h1>
    <article class="container">
      <% @spaces.each do |space| %>
        <div class="card">
          <p><%= space.name %></p> 
          <p><%= space.description %></p> 
          <p>£<%= space.price %> per night</p>
          <p>Available from <%= space.date_start %></p>
          <p>Available to <%= space.date_end %></p>
          <p>Rented by <%= (User.find_by id: space.user_id).username %> </p>
          <form action="/spaces/<%= space.id %>">
            <input type='submit' value='More Details'>
          </form>
        </div>
      <% end %>
    </article>

    <form action='/spaces/new'>
      <input type='submit' value='Add a Space'/>
    </form>

<% else %>
  <p>Currently no spaces available</p>
<% end %>
