<h2>
  <%= flash[:notice] %>
</h2>

<% if @user %>
  <h1>Welcome to MakersBnB, <%= @user.username %> </h1>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Sign Out" />
  </form>

  <h1>Spaces:</h1>
    
      <article class="container"style="width: 100%">
      <div class="row">
        
          <% @spaces.each do |space| %>
            <div class="col-sm-4">
            <div class="card">
            <img src="/css/img/space_1.jpg" class="card-img-top">
              <div class="card-header">
                <p><%= space.name %></p> 
              </div>
              <div class="container">
              <div class="card-body">
                <p class="card-text"><%= space.name %></p> 
                <p class="card-text"><%= space.description %></p> 
                <p class="card-text">£<%= space.price %> per night</p>
                <p class="card-text">Available from <%= space.date_start %></p>
                <p class="card-text">Available to <%= space.date_end %></p>
                <p class="card-text">Rented by <%= (User.find_by id: space.user_id).username %> </p>
                <form action="/spaces/<%= space.id %>">
                  <input type='submit' value='More Details'>
                </form>
              </div>
            </div>
            </div>
          </div></br>
        <% end %>
        
        </div>
      </article>
    


    <form action='/spaces/new'>
      <input type='submit' value='Add a Space'/>
    </form>

<% else %>
  <form action='/users/new' method='get'>
    <input type='submit' value='Sign Up'>
  </form>
  <form action='/sessions/new' method='get'>
    <input type='submit' value='Sign In'>
  </form>
<% end %>


